*.pem
.ssh/
*.pem*
kubeconfig
.kube/
.arkade/
.aws/
.azure/
.bash_history
.bun/
.cache/
.cargo/
.config/
.dbus/
.docker/
.firefly/
.gitconfig
.gitmodules
.gnupg
.histfile
.httpie
.krew
.kube
.kuberlr
.landscape
.lesshst
.local
.luarocks
.m2
.motd_shown
.newignore
.nix-channels
.nix-profile
.npm
.nvm
.oci
.pnpm-debug.log
.python_history
.rediscli_history
.rustup
.sdkman
.ssh
.sudo_as_admin_successful
.surrealdb
.systemd-env
.terraform.d
.vim-bookmarks
.vim_back
.viminfo
.volta
.vscode-server
.wget-hsts
.wrangler
.wsl-config
.yarnrc
.zcompdump
.zsh_history
downloads
go
k3s
k8s
lib
output
projects
reports
runtime
scripts
snap
source
.vim
database.csv
.bash_completions
.bash_completions
.bash_logout
zls/
